<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">IKOMIKO</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%=place.image%>">
                <div class="caption-full">
                    <h4 class="pull-right">$<%= place.price %> spent for a night</h4>
                    <h4><%= place.name %></h4>
                    <p><%= place.description %></p>
                    <p>
                        <em>Submitted by <%= place.author.username %></em>
                    </p>
                    <% if(currentUser && place.author.id.equals(currentUser._id)){ %>
                    <a class="btn btn-sm btn-warning" href="/places/<%= place._id %>/edit">Edit</a>
                    <form class="delete-form" action="/places/<%=place._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">DELETE</button>
                    </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/places/<%=place._id%>/comments/new">Leave a comment!</a>
                </div>
                <hr>
                <% place.comments.forEach(function(comment){%>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right">10 Days Ago</span>
                            <p>
                                <%=comment.text %>
                            </p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-xs btn-warning" href="/places/<%= place._id %>/comments/<%= comment._id %>/edit">EDIT</a>
                                <form class="delete-form" action="/places/<%= place._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-xs btn-danger" value="DELETE">
                                </form>
                            <% } %>
                        </div>
                    </div>
                    
                <% }) %>
            </div>
        </div>
    </div>
</div>







<% include ../partials/footer %>
